header {
  background-color: #20262c;
}
header a {
  text-decoration: none;
  color: #e9631a;
}

nav ul {
  display: flex;
  justify-content: right;
}
nav ul li {
  list-style: none;
}

h1,
h2 {
  text-align: center;
}
